* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

.nav-bg {
  background-color: rgb(189, 231, 243);
  /* position: fixed;
  top: 0;
  z-index: 10; */
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand";
  /* background-color: rgb(48, 139, 184); */
}

.logo {
  height: 5rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: rgb(20, 21, 52);
}

header {
  border-bottom: 0.2rem solid #0d5ea6;
}

.nav-link {
  position: relative;
  transition: color 0.5s;
}

.nav-link:after {
  content: "";
  width: 100%;
  background-color: #0d5ea6;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  border-radius: 0.6rem;
  transform: scaleX(0);
  transition: transform 0.5s;
  height: 0.2rem;
}
.nav-link:hover:after {
  transform: scaleX(1);
}

/* HERO SECTION */

.heading {
  font-weight: 800;
  font-size: 4.5rem;
}

.hero-img img {
  height: 90vh;
}

.btn-primary {
  background-color: #0d5ea6;
  margin-bottom: 3rem;
}

.btn-primary a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

/* what we do */
.whatwedo-container {
  /* background-color: antiquewhite; */
  /* height: 40vh; */
  /* border-top: 0.2rem solid #0d5ea6; */
  /* margin-top: 3rem; */
  padding: 2rem;
}

/* whatwedo-container descendants */
.whatwedo-container img {
  height: 10rem;
}

.whatwedo-container h2 {
  font-size: 2.8rem;
  font-weight: 600;
}
.whatwedo-container h3 {
  font-size: 2.3rem;
  font-weight: 600;
}

/* footer */

.footer-container {
  /* background-color: aquamarine; */
  /* height: 40vh; */
  margin-top: 4rem;
}
.footer-container img {
  height: 5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer-container p {
  margin: 0;
  font-size: 1.8rem;
}

.footer-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  position: relative;
}

.footer-container ul li a:after {
  content: "";
  width: 100%;
  background-color: #0d5ea6;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  border-radius: 0.6rem;
  transform: scaleX(0);
  transition: transform 0.5s;
  height: 0.2rem;
}

.footer-container ul li a:hover:after {
  transform: scaleX(1);
}

.footer-container ul li {
  list-style: none;
}

.service {
  padding: 0;
}
.footer-container h3 {
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}
.footer-social {
  /* border: 1px solid black; */
  margin-top: 4rem;
}
.footer-social i {
  margin-right: 1rem;
  cursor: pointer;
}

.form-footer {
  /* border-bottom: 1px solid black; */
  position: relative;
}

.form-footer:after {
  content: "";
  width: 82%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: black;
}
form input {
  outline: none;
  background: transparent;
  border: 0;
  width: 70%;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* contact us */

/* .contact-container form {
  height: 50vh;
} */

.contact-container h2 {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 700;

  margin-bottom: 3rem;
}

.form-control {
  /* border-bottom: 1px solid black; */
  background: transparent !important;
  border: 0;

  /* width: 90%; */
  /* height: 3rem; */
  font-size: 1.8rem;
  box-shadow: none;
}

/* .contact-container form input:focus {
  outline: none imoprtant!;
} */
.no-border:focus {
  outline: none !important;
  box-shadow: none;
}

.border-form {
  position: relative;
}

.border-form:after {
  content: "";
  width: 97%;
  height: 0.2rem;
  background-color: black;
  left: 1rem;
  bottom: 0;
  position: absolute;
}
.btn-submit {
  background-color: #0d5ea6;
  color: aliceblue;
  width: 8rem;
  border-radius: 0;
  font-family: "Quicksand";
  font-size: 1.5rem;
}
.btn-submit:hover {
  color: aliceblue;
  background-color: #2b72af;
}

.bg-color {
  background-color: #0d5ea6;
  position: relative;
}

.bg-color:after {
  content: "";
  background-image: url(./images/transparent/1.png);
  width: 100%;
  height: 28rem;
  left: 15rem;
  bottom: 4rem;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem;
}

.shadow-whatwedo {
  margin-right: 1rem;
}
.shadow-whatwedo p {
  height: 15rem;
}

/* featured destinations */

.featured-text {
  font-size: 2.8rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.featured-text:after {
  content: "";
  width: 2rem;
  height: 1rem;
  bottom: 0;
  background-color: #0d5ea6;
  position: absolute;
  left: -2.5rem;
  top: 50%;
}

.featured-text:before {
  content: "";
  width: 2rem;
  height: 1rem;
  bottom: 0;
  background-color: #061421;
  position: absolute;
  right: -2.5rem;
  top: 50%;
}

.destinations-package {
  justify-content: space-between;
}

.card-title {
  font-weight: 600;
  font-size: 2rem;
  font-family: "RALEWAY";
}

.location {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "RALEWAY";
}
.location .bi {
  font-size: 1.5rem;
}

.destination-info {
  font-size: 1.3rem;
  font-weight: 700;
}

.book-now {
  font-size: 1.5rem;
}

.days {
  font-size: 1.5rem;
  font-weight: 600;
}
.days .bi {
  font-size: 1.5rem;
}

.ratings {
  font-size: 1.5rem;
  font-weight: 600;
}
.ratings .bi {
  font-size: 1.5rem;
  color: rgb(185, 185, 45);
}

.heart {
  position: absolute;
  left: 85%;
  top: 1.5rem;
  font-size: 3rem;
  color: rgb(224, 92, 44);
  /* border: 1px solid black; */
  z-index: 1;
}
.sale {
  position: absolute;
  background-color: rgb(224, 92, 44);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  top: 1.5rem;
  color: antiquewhite;
  left: 1.5rem;
  z-index: 1;
  /* border: 10rem solid black; */
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  width: 11rem;
}
.img-resize {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card-img-top {
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
}
.card {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* overflow: hidden; */
  cursor: pointer;
}
.card:hover .img-resize img {
  transform: scale(1.1) !important;
}
.card-img-top {
  transition: 0.5s;
  height: 100%;
  width: 100%;
}
/* .card-img-top {
  height: 30rem;
  padding: 2rem;
  background-color: rgb(189, 231, 243);
} */

.card:hover .sale,
.card:hover .heart {
  transform: none !important;
}
.book-now a {
  font-size: 1.5rem;
}
.book-now a .bi {
  font-size: 1.5rem;
}
.divider {
  color: #0d5ea6;
}

/* about us section */

/* .about-hero {
  background-image: url(./images/about.hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  background-size: cover;
} */

.text-hero h2 {
  padding-top: 14rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.our-story {
  /* font-family: "satisfy"; */
  font-size: 6.5rem;
  opacity: 30%;
  margin-bottom: 4rem;
}

.our-section {
  position: relative;
}
.mission-goals {
  position: absolute;
  left: 50%;
  top: 6rem;
  font-weight: 600;
}
.team-img {
  height: 30rem;
  width: 100%;
}

.our-story-text {
  align-items: center;
  height: 30rem;
  display: flex;
}

.our-story-text div p {
  font-size: 1.8rem;
}

.our-text {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  /* margin-top: -5rem; */
  color: rgb(31, 29, 41);
}

/* testimonial */

/* .carousel-item {
  height: 50vh;
} */

.testimonial-content {
  padding: 3rem 0;
  /* background-image: url(./images/c.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* height: 70vh; */
}
.client-text h2 {
  margin-bottom: 1rem;
}
.client-text h3 {
  font-weight: 900;
  font-size: 3rem;
  color: #0d5ea6;
}

.client-text p {
  margin-bottom: 3rem;
}
.icon i {
  color: rgb(185, 185, 45);
  font-size: 2.5rem;
}
.comment-text {
  color: rgb(41, 43, 46);
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.comment-text h4 {
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 2rem;
  border: 7px solod red;
}

.comment-text h6 {
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}

.client-img {
  width: 12rem;
  height: 12rem;
  /* border: 1px solid black; */
  display: block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  /* border: 4px solid #2b72af; */
  margin-top: 4rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.client-img img {
  width: 100%;
}

.carousel-indicators {
  bottom: -7rem;
}

.carousel-indicators [data-bs-target] {
  width: 6rem;
  height: 1rem;
  background-color: #2b72af;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .bg-color:after {
    content: "";
    background-image: url(./images/transparent/1.png);
    width: 100%;
    height: 15rem;
    left: 10rem;
    bottom: 5rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
  }
  /* .our-section {
    position: relative;
  }
  .mission-goals {
    display: block;
    text-align: center;
    position: relative;
    background-color: #2b72af;
  } */

  .testimonial-content {
    background-image: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bg-color:after {
    content: "";
    background-image: url(./images/transparent/1.png);
    width: 100%;
    height: 15rem;
    left: 8rem;
    bottom: 4rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17rem;
  }

  .footer-container img {
    height: 4rem;
  }
}
